/*************only found in home-soon.html*************/
.soon-bg{
  background: url(../img/showcase-1.jpg);
  padding: 100px 0;
}
.soon-bg h2{
  color:#fff;
}
.countdown_amount {
  display:block;
  font-size:44px;
  padding-top:25px;
  line-height:20px;
  font-weight:400; 
  color:#fff;

}
.countdown_section {
  display:inline-block;
  width:120px;
  height:120px;
  padding-top: 13px;
  margin:10px;
  color:#fff;
  @include border-radius (50%);
  background-color:rgba(255,255,255,0.1);
  @include box-shadow (0px 0px 3px rgba(0,0,0,0.3));
  text-align: center
}

.subscribe-form .form-control{
  height: 46px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
/*purchase section*/
.purchase-sec{
  padding: 30px 0;
  background: $skincolor;
}
.purchase-sec span{
  line-height: 40px;
  color:#fff;
  font-size: 25px;
  font-weight: 400;
}
