<footer class="main-footer">
    <strong>Copyright &copy; 2021 ESHAS <a href="https://ESHAS.io">SH.WebApp</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 3.1.0-rc
    </div>
</footer>