<footer id="footer">
    <div class="container">

        <div class="row">
            <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>About ESHAS</h3>
                    <p>
                        When it comes to our digital services, ESHAS believes in a proactive, mentor-like partnership. We offer many solutions but know that not everything, although equally valuable, will be the right solution for your organization. That’s because each business is unique with its own vision and set of goals. That means that a competent digital partner – like yours truly – should offer solutions precisely made for each client’s wants and needs. Period. No more and no less.
                    </p>

                </div>
            </div><!--footer col-->
            <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>Contact</h3>

                    <ul class="list-unstyled contact">
                        <li><p><strong><i class="fa fa-map-marker"></i> Address:</strong> vaisahali, jaipur, 302012</p></li>
                        <li><p><strong><i class="fa fa-envelope"></i> Mail Us:</strong> <a href="#">Support@eshas.tr</a></p></li>
                        <li> <p><strong><i class="fa fa-phone"></i> Phone:</strong> +91 1800 2345 2132</p></li>
                        <li> <p><strong><i class="fa fa-print"></i> Fax</strong> 1800 2345 2132</p></li>
                        <li> <p><strong><i class="fa fa-skype"></i> Skype</strong> eshas.856</p></li>

                    </ul>
                </div>
            </div><!--footer col-->
            <div class="col-md-3 col-sm-6 margin30">

            </div><!--footer col-->
            <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>Newsletter</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer lorem quam,
                    </p>
                    <form role="form" class="subscribe-form">
                    </form>
                </div>
            </div><!--footer col-->

        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="footer-btm">
                    <span>&copy;2021. ESHAS</span>
                </div>
            </div>
        </div>
    </div>
</footer><!--default footer end here-->
<!--scripts and plugins -->
