<footer id="footer">

    <div class="row">
        <div class="col-md-3 col-sm-6 margin30">
            <div class="footer-col">
                <h3>About ESHAS.Website</h3>
                <p>
                    When it comes to our digital services, ESHAS believes in a proactive, mentor-like partnership. We offer many solutions but know that not everything, although equally valuable, will be the right solution for your organization. That’s because each business is unique with its own vision and set of goals. That means that a competent digital partner – like yours truly – should offer solutions precisely made for each client’s wants and needs. Period. No more and no less.
                </p>
                <ul class="list-inline social-1">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
            </div>
        </div><!--footer col-->
        <div class="col-md-3 col-sm-6 margin30">
            <div class="footer-col">
                <h3>Contact</h3>

                <ul class="list-unstyled contact">
                    <li><p><strong><i class="fa fa-map-marker"></i> Address:</strong> atatürk Mah. Buca, 302012</p></li>
                    <li><p><strong><i class="fa fa-envelope"></i> Mail Us:</strong> <a href="#">hasan.mumcu@ceng.deu.edu.tr</a></p></li>
                    <li> <p><strong><i class="fa fa-phone"></i> Phone:</strong> +90 553 787 27 08</p></li>
                    <li> <p><strong><i class="fa fa-print"></i> Fax</strong> 1800 2345 2132</p></li>
                    <li> <p><strong><i class="fa fa-skype"></i> Skype</strong> ESHAS.856</p></li>

                </ul>
            </div>
        </div><!--footer col-->
        <div class="col-md-3 col-sm-6 margin30">
            <div class="footer-col">
                <h3>Featured Work</h3>
                <ul class="list-inline f2-work">
                    <li><a href="portfolio-single.html"><img src="img/img-1.jpg" class="img-responsive" alt=""></a></li>
                    <li><a href="portfolio-single.html"><img src="img/img-2.jpg" class="img-responsive" alt=""></a></li>
                    <li><a href="portfolio-single.html"><img src="img/img-3.jpg" class="img-responsive" alt=""></a></li>
                    <li><a href="portfolio-single.html"><img src="img/img-4.jpg" class="img-responsive" alt=""></a></li>
                    <li><a href="portfolio-single.html"><img src="img/img-5.jpg" class="img-responsive" alt=""></a></li>
                    <li><a href="portfolio-single.html"><img src="img/img-6.jpg" class="img-responsive" alt=""></a></li>
                    <li><a href="portfolio-single.html"><img src="img/img-7.jpg" class="img-responsive" alt=""></a></li>
                    <li><a href="portfolio-single.html"><img src="img/img-8.jpg" class="img-responsive" alt=""></a></li>
                    <li><a href="portfolio-single.html"><img src="img/img-9.jpg" class="img-responsive" alt=""></a></li>
                </ul>
            </div>
        </div><!--footer col-->


    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <div class="footer-btm">
                <span>&copy;2021 SH.Website</span>
            </div>
        </div>
    </div>

</footer><!--default footer end here-->