<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SH.Website</title>
    @{ Html.RenderPartial("_Stylesheet");}
</head>
<body data-spy="scroll">
    @RenderBody()

    @{ Html.RenderPartial("_Footer");}
    @{ Html.RenderPartial("_ScriptsTemplate");}


    @RenderSection("Scripts", required: false)
</body>
</html>
