<section id="services" class="padded-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="center-heading">
                    <h2>What We Offer</h2>
                    <span class="center-line"></span>
                </div>
            </div>
        </div><!--center heading row-->
        <div class="row">
            <div class="col-md-6 col-sm-8 margin20">
                <div class="services-box wow animated fadeInUp animated" data-wow-duration="700ms" data-wow-delay="100ms" style="visibility: visible; -webkit-animation-duration: 700ms; -webkit-animation-delay: 100ms;">
                    <div class="services-box-icon">
                        <i class="fa fa-pencil"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>
                            Network Management
                        </h4>
                        <p>
                            Your network components; firewalls, routers and switches represent a critical component of your system availability, accessibility and security. We monitor each component using an advanced toolset that helps us stay ahead of issues before they happen.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-6 col-sm-8 margin20">
                <div class="services-box wow animated fadeInUp animated" data-wow-duration="700ms" data-wow-delay="100ms" style="visibility: visible; -webkit-animation-duration: 700ms; -webkit-animation-delay: 100ms;">
                    <div class="services-box-icon">
                        <i class="fa fa-pencil"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>
                            Proactive Server Management
                        </h4>
                        <p>
                            Pro-active server management is basically a service where your critical servers are pro-actively managed, monitored and secured by certified 24×7 professional team. Pro-active support itself means giving highest priority based support backed by experienced system admins.     We monitor, manage and maintain your server infrastructure 24/7. We work proactively to predict upcoming issues to prevent them from impacting your team.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-6 col-sm-8 margin20">
                <div class="services-box wow animated fadeInUp animated" data-wow-duration="700ms" data-wow-delay="100ms" style="visibility: visible; -webkit-animation-duration: 700ms; -webkit-animation-delay: 100ms;">
                    <div class="services-box-icon">
                        <i class="fa fa-pencil"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>
                            Baseline Security Controls
                        </h4>
                        <p>
                            As part of our onboarding and routinely moving forward we review security controls within your network. Each of our workstation and server plans come with next-gen Antivirus and Malware licenses included. For additional security services; see Cyber Security.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-6 col-sm-8 margin20">
                <div class="services-box wow animated fadeInUp animated" data-wow-duration="700ms" data-wow-delay="100ms" style="visibility: visible; -webkit-animation-duration: 700ms; -webkit-animation-delay: 100ms;">
                    <div class="services-box-icon">
                        <i class="fa fa-pencil"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>
                            24/7 Helpdesk Support
                        </h4>
                        <p>
                            A service desk is an integral component of any IT department. SSI’s service desk acts as your central point of contact for all IT issues and requests. We believe in driving the highest levels of response, satisfaction and productivity for your team, Not only do we help our end users, but we also empower them to help themselves.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-6 col-sm-8 margin20">
                <div class="services-box wow animated fadeInUp animated" data-wow-duration="700ms" data-wow-delay="100ms" style="visibility: visible; -webkit-animation-duration: 700ms; -webkit-animation-delay: 100ms;">
                    <div class="services-box-icon">
                        <i class="fa fa-pencil"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>
                            Workstation/ Endpoint Management
                        </h4>
                        <p>
                            Our endpoint management services are flexible while giving your team the ability to pursue more strategic goals. In addition, our solutions help manage, patch, and remediate application and OS configurations on desktops, laptops and servers throughout their lifecycle to ensure security, control, and compliance.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-6 col-sm-8 margin20">
                <div class="services-box wow animated fadeInUp animated" data-wow-duration="700ms" data-wow-delay="100ms" style="visibility: visible; -webkit-animation-duration: 700ms; -webkit-animation-delay: 100ms;">
                    <div class="services-box-icon">
                        <i class="fa fa-pencil"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>
                            Consulting, Strategy & Planning
                        </h4>
                        <p>
                            It’s difficult to move forward when you are dealing with legacy systems and a backlog of IT projects. Our technology experts advise on the development of technology strategy, and enterprise architecture, technology selection and acquisition, and audits – helping to drive your IT infrastructure in the right direction.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-6 col-sm-8 margin20">
                <div class="services-box wow animated fadeInUp animated" data-wow-duration="700ms" data-wow-delay="100ms" style="visibility: visible; -webkit-animation-duration: 700ms; -webkit-animation-delay: 100ms;">
                    <div class="services-box-icon">
                        <i class="fa fa-pencil"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>
                            Security Information Event Management
                        </h4>
                        <p>
                            Defend your organization from cyber threats with 24/7 monitoring, incident detection, and recovery.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-6 col-sm-8 margin20">
                <div class="services-box wow animated fadeInUp animated" data-wow-duration="700ms" data-wow-delay="100ms" style="visibility: visible; -webkit-animation-duration: 700ms; -webkit-animation-delay: 100ms;">
                    <div class="services-box-icon">
                        <i class="fa fa-pencil"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>
                            Dark Web Monitoring
                        </h4>
                        <p>
                            You need to know who has access to your data. SSI’s Dark web monitoring maintains a real-time index of the dark web and crawls thousands of publicly accessible services including Tor, 12P, and Freenet in search of compromised credentials.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-6 col-sm-8 margin20">
                <div class="services-box wow animated fadeInUp animated" data-wow-duration="700ms" data-wow-delay="100ms" style="visibility: visible; -webkit-animation-duration: 700ms; -webkit-animation-delay: 100ms;">
                    <div class="services-box-icon">
                        <i class="fa fa-pencil"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>
                            Multi-Factor Authentication
                        </h4>
                        <p>
                            Passwords are not enough! Stop intrusion into your information system by configuring a second layer of authentication.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-6 col-sm-8 margin20">
                <div class="services-box wow animated fadeInUp animated" data-wow-duration="700ms" data-wow-delay="100ms" style="visibility: visible; -webkit-animation-duration: 700ms; -webkit-animation-delay: 100ms;">
                    <div class="services-box-icon">
                        <i class="fa fa-pencil"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>
                            Advanced Mail Filtering
                        </h4>
                        <p>
                            Block threatening emails with managed email security that intercept viruses, spam, malware, and more.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-6 col-sm-8 margin20">
                <div class="services-box wow animated fadeInUp animated" data-wow-duration="700ms" data-wow-delay="100ms" style="visibility: visible; -webkit-animation-duration: 700ms; -webkit-animation-delay: 100ms;">
                    <div class="services-box-icon">
                        <i class="fa fa-pencil"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>
                            End User Awareness Training
                        </h4>
                        <p>
                            Create a more secure workforce using SSI’s training methodologies, which are proven to positively change user behavior.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-6 col-sm-8 margin20">
                <div class="services-box wow animated fadeInUp animated" data-wow-duration="700ms" data-wow-delay="200ms" style="visibility: visible; -webkit-animation-duration: 700ms; -webkit-animation-delay: 200ms;">
                    <div class="services-box-icon">
                        <i class="fa fa-globe"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Mobile Device Management</h4>
                        <p>
                            Protect, encrypt and keep track of all mobile devices in your organization.

                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-6 col-sm-8 margin20">
                <div class="services-box wow animated fadeInUp animated" data-wow-duration="700ms" data-wow-delay="300ms" style="visibility: visible; -webkit-animation-duration: 700ms; -webkit-animation-delay: 300ms;">
                    <div class="services-box-icon">
                        <i class="fa fa-users"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Any device access</h4>
                        <p>
                            To stay productive, employees need easy access to information in an instant, whether they’re on a mobile device or working in offices around the world. SSI‘s implemented workspace enables the workforce to access what they need on any device, from wherever they are — and they get the same high-quality experience every time. Fast and responsive, every time.

                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->

            <div class="col-md-6 col-sm-8 margin20">
                <div class="services-box wow animated fadeInUp animated" data-wow-duration="700ms" data-wow-delay="400ms" style="visibility: visible; -webkit-animation-duration: 700ms; -webkit-animation-delay: 400ms;">
                    <div class="services-box-icon">
                        <i class="fa fa-crop"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Digital Transformation</h4>
                        <p>
                            Access the desktop of your choice. SSI’s implemented workspaces deliver everything people need — from app deployment and unified endpoint management to content collaboration and analytics. With it, your team can onboard new employees faster, manage hybrid infrastructure more efficiently, and remain flexible enough to quickly implement change. Moreover, you have less hardware to manage.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-6 col-sm-8 margin20">
                <div class="services-box wow animated fadeInUp animated" data-wow-duration="700ms" data-wow-delay="500ms" style="visibility: visible; -webkit-animation-duration: 700ms; -webkit-animation-delay: 500ms;">
                    <div class="services-box-icon">
                        <i class="fa fa-twitter"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>Organization evolution</h4>
                        <p>
                            Every major industry is faced with consistent disruption. You need to reinvent what’s possible so you can be faster, more efficient, and more flexible. Design a strategic hybrid and multi-cloud environment vital to innovation and agile operations. SSI’s implemented workspaces guarantee the business agility you need. Instantly provision, or de-provision, your desktops to meet changing business and workforce needs.
                        </p>
                    </div>
                </div><!--services box-->
            </div><!--services col-->
            <div class="col-md-6 col-sm-8 margin20">
                <div class="services-box wow animated fadeInUp animated" data-wow-duration="700ms" data-wow-delay="600ms" style="visibility: visible; -webkit-animation-duration: 700ms; -webkit-animation-delay: 600ms;">
                    <div class="services-box-icon">
                        <i class="fa fa-flag"></i>
                    </div><!--services icon-->
                    <div class="services-box-info">
                        <h4>
                            Secure app delivery
                        </h4>
                        <p>
                            User access is always secure and compliant. In today’s constantly evolving threat landscape, security is a bigger challenge than ever. Protecting data and IP is top of mind — but it’s not as easy as restricting people from accessing sensitive information. Workspaces let you secure data with controls based on user context, such as role, location, or device. Enjoy built-in security. With predictive analytics, machine learning, and artificial intelligence, your team can uncover potentially dangerous user behavior and proactively handle threats.

                        </p>

                    </div>
                </div><!--services box-->
            </div><!--services col-->
        </div><!--services row-->
        <div class="col-md-6 col-sm-8 margin20">
            <div class="services-box wow animated fadeInUp animated" data-wow-duration="700ms" data-wow-delay="600ms" style="visibility: visible; -webkit-animation-duration: 700ms; -webkit-animation-delay: 600ms;">
                <div class="services-box-icon">
                    <i class="fa fa-flag"></i>
                </div><!--services icon-->
                <div class="services-box-info">
                    <h4>
                        On site recovery
                    </h4>
                    <p>
                        Protect the integrity of your information. A hybrid cloud approach provides secure onsite backup and offsite DRaaS, ensuring recoverability in any disaster scenario. Ensure efficient IT operations. On-prem servers are protected locally with 30-60 days’ worth of retention which enables files, folders and virtual machines to be recovered at LAN speed. On-prem servers are then mirrored offsite automatically which provides fault tolerance while both increasing available resources for DR scenarios and providing immediate access to all retained backups stored locally.

                    </p>

                </div>
            </div><!--services box-->
        </div><!--services col-->
        <div class="col-md-6 col-sm-8 margin20">
            <div class="services-box wow animated fadeInUp animated" data-wow-duration="700ms" data-wow-delay="600ms" style="visibility: visible; -webkit-animation-duration: 700ms; -webkit-animation-delay: 600ms;">
                <div class="services-box-icon">
                    <i class="fa fa-flag"></i>
                </div><!--services icon-->
                <div class="services-box-info">
                    <h4>
                        Tools that satisfy
                    </h4>
                    <p>
                        Enabling a healthy relationship with your customer, which results in a healthy business overall. Regarding marketing, your main target is an audience that will buy from you and will continue to buy from you. Empower your users with choice and flexibility. You’re tasked with delivering technology that contributes to a rich employee experience, increasing both engagement and productivity. This is about access, on-demand. Workspaces brings together everything people need to create a unified experience, providing employees with personalized feeds and automating routine tasks to eliminate worker fatigue.

                    </p>

                </div>
            </div><!--services box-->
        </div><!--services col-->
        <div class="col-md-6 col-sm-8 margin20">
            <div class="services-box wow animated fadeInUp animated" data-wow-duration="700ms" data-wow-delay="600ms" style="visibility: visible; -webkit-animation-duration: 700ms; -webkit-animation-delay: 600ms;">
                <div class="services-box-icon">
                    <i class="fa fa-flag"></i>
                </div><!--services icon-->
                <div class="services-box-info">
                    <h4>
                        Reduce IT Infrastructure
                    </h4>
                    <p>
                        Today’s business environment is structured around mobility. Hosted Workspaces enable companies to scale their business while reducing the footprint of their overall IT infrastructure. Further, you get a predictable, pay-as-you-go monthly billing. Don’t resort to unsecure cloud services. Instead, by migrating to Hosted Workspaces, an organization can now focus on transformational business projects.

                    </p>

                </div>
            </div><!--services box-->
        </div><!--services col-->
        <div class="col-md-6 col-sm-8 margin20">
            <div class="services-box wow animated fadeInUp animated" data-wow-duration="700ms" data-wow-delay="600ms" style="visibility: visible; -webkit-animation-duration: 700ms; -webkit-animation-delay: 600ms;">
                <div class="services-box-icon">
                    <i class="fa fa-flag"></i>
                </div><!--services icon-->
                <div class="services-box-info">
                    <h4>
                        Data security & storage
                    </h4>
                    <p>
                        Data storage security involves protecting storage resources and the data stored on them – both on-premises and in external data centers and the cloud – from accidental or deliberate damage or destruction and from unauthorized users and uses. Hardware failures do not result in data loss due to networked backups. Virtual private cloud, encryption and API keys help keep data secure. Users can choose public, private or hybrid storage offerings, depending on security needs and other considerations.
                    </p>

                </div>
            </div><!--services box-->
        </div><!--services col-->
        <div class="col-md-6 col-sm-8 margin20">
            <div class="services-box wow animated fadeInUp animated" data-wow-duration="700ms" data-wow-delay="600ms" style="visibility: visible; -webkit-animation-duration: 700ms; -webkit-animation-delay: 600ms;">
                <div class="services-box-icon">
                    <i class="fa fa-flag"></i>
                </div><!--services icon-->
                <div class="services-box-info">
                    <h4>
                        Accessibility
                    </h4>
                    <p>
                        Cloud-based applications and data are accessible, from virtually any Internet-connected device. Make it simple for your distributed workforce to collaborate and share files. Empower your end users with accessible technology.

                    </p>

                </div>
            </div><!--services box-->
        </div><!--services col-->
        <div class="col-md-6 col-sm-8 margin20">
            <div class="services-box wow animated fadeInUp animated" data-wow-duration="700ms" data-wow-delay="600ms" style="visibility: visible; -webkit-animation-duration: 700ms; -webkit-animation-delay: 600ms;">
                <div class="services-box-icon">
                    <i class="fa fa-flag"></i>
                </div><!--services icon-->
                <div class="services-box-info">
                    <h4>
                        Control
                    </h4>
                    <p>
                        Optimize your business value. Organizations can determine their level of control with as-a-service options. These include software as a service (SaaS), platform as a service (PaaS), and infrastructure as a service (IaaS).

                    </p>

                </div>
            </div><!--services box-->
        </div><!--services col-->
        <div class="col-md-6 col-sm-8 margin20">
            <div class="services-box wow animated fadeInUp animated" data-wow-duration="700ms" data-wow-delay="600ms" style="visibility: visible; -webkit-animation-duration: 700ms; -webkit-animation-delay: 600ms;">
                <div class="services-box-icon">
                    <i class="fa fa-flag"></i>
                </div><!--services icon-->
                <div class="services-box-info">
                    <h4>

                        Scalability
                    </h4>
                    <p>
                        Facilitate innovation. One of our most valuable features, SSI’s cloud infrastructure scales on demand to support fluctuating workloads. Have the peace of mind knowing you always have access to a minimum service level. Achieve maximum efficiency without waste.

                    </p>

                </div>
            </div><!--services box-->
        </div><!--services col-->
        <div class="col-md-6 col-sm-8 margin20">
            <div class="services-box wow animated fadeInUp animated" data-wow-duration="700ms" data-wow-delay="600ms" style="visibility: visible; -webkit-animation-duration: 700ms; -webkit-animation-delay: 600ms;">
                <div class="services-box-icon">
                    <i class="fa fa-flag"></i>
                </div><!--services icon-->
                <div class="services-box-info">
                    <h4>
                        Cost Savings
                    </h4>
                    <p>
                        Cloud computing uses remote resources, saving organizations the cost of servers and other equipment. SSI regularly updates our offerings to give users access to the most current technologies.

                    </p>

                </div>
            </div><!--services box-->

        </div><!--services col-->
        <div class="col-md-6 col-sm-8 margin20">
            <div class="services-box wow animated fadeInUp animated" data-wow-duration="700ms" data-wow-delay="600ms" style="visibility: visible; -webkit-animation-duration: 700ms; -webkit-animation-delay: 600ms;">
                <div class="services-box-icon">
                    <i class="fa fa-flag"></i>
                </div><!--services icon-->
                <div class="services-box-info">
                    <h4>
                        Disaster Recovery & Loss Prevention
                    </h4>
                    <p>
                        Protect your footprint. Users can choose public, private or hybrid storage offerings, depending on security needs and other requirements. Safeguard your critical data from unforeseen risks. Continue to service your customers without sacrificing your bottom line.

                    </p>

                </div>
            </div><!--services box-->

        </div><!--services col-->
        <div class="divide40"></div>
        <div class="col-md-4 margin20">
            <div class="skills-wrapper wow animated bounceIn animated animated" data-wow-delay="0.2s">
                <h3 class="heading-progress">Web Design <span class="pull-right">88%</span></h3>
                <div class="progress">
                    <div class="progress-bar" style="width: 88%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="88" role="progressbar">
                    </div>
                </div>
                <h3 class="heading-progress">Web Development <span class="pull-right">78%</span></h3>
                <div class="progress">
                    <div class="progress-bar" style="width: 78%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="78" role="progressbar">
                    </div>
                </div>
                <h3 class="heading-progress">Marketing <span class="pull-right">82%</span></h3>
                <div class="progress">
                    <div class="progress-bar" style="width: 82%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="82" role="progressbar">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <p>
                When it comes to our digital services, ESHAS believes in a proactive, mentor-like partnership. We offer many solutions but know that not everything, although equally valuable, will be the right solution for your organization. That’s because each business is unique with its own vision and set of goals.

                That means that a competent digital partner – like yours truly – should offer solutions precisely made for each client’s wants and needs. Period. No more and no less.


            </p>
            <p>
                ESHAS’s diverse experience in the digital universe gives us the insight to assess all available options and technologies and deliver a site that will set a course for long-term success. Throughout the entire process, whether it includes digital strategy, design & development, integrated marketing and/or hosting and maintenance, ESHAS will always keep your best interests at heart. Just read what our clients have to say.
            </p>
        </div>

    </div>
</section>
<!--services-->