<section class="purchase-sec wow animated fadeInUp animated">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <span>Design is not just what it looks like and feels like. Design is how it works. - Steve Jobs</span>
            </div>
        </div>
    </div>
</section><!--cta-->
