<section id="clients-carousel">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="center-heading">
                    <h2>Trusted worldwide</h2>
                    <span class="center-line"></span>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipiscing metus. elit. Quisque rutrum pellentesque imperdiet.
                    </p>
                </div>
            </div>
        </div><!--center heading row-->
        <div id="clients-slider">
            <div class="item"><a href="#"><img src="img/cl-1.png" alt=""></a></div>
            <div class="item"><a href="#"><img src="img/cl-2.png" alt=""></a></div>
            <div class="item"><a href="#"><img src="img/cl-3.png" alt=""></a></div>
            <div class="item"><a href="#"><img src="img/cl-4.png" alt=""></a></div>
            <div class="item"><a href="#"><img src="img/cl-5.png" alt=""></a></div>
        </div>
    </div>
</section><!--clients carousel end-->