 <div class="fullwidthbanner" id="home">
    <div class="ken-burns-banner">
        <ul>
            <!-- SLIDE  -->
            <li class="dark" data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-thumb="img/656670.jpg" data-delay="10000" data-saveperformance="off" data-title="slider 1">
                <!-- MAIN IMAGE -->
                <img src="img/656670.jpg" alt="kenburns1" data-bgposition="left center" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="130" data-bgfitend="100" data-bgpositionend="right center">
                <!-- LAYERS -->
                <div class="caption customin customout tp-resizeme ken-burns-cap  font-alt"
                     data-x="center"
                     data-hoffset="0"
                     data-y="center"
                     data-voffset="-100"
                     data-customin="x:-50;y:-300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="1500"
                     data-start="1000"
                     data-startslide="1"
                     data-easing="Power4.easeOut"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn">

                    

                </div>

                <div class="caption customin customout tp-resizeme Ken-burns-heading font-alt"
                     data-x="center"
                     data-hoffset="0"
                     data-y="center"
                     data-voffset="0"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="1000"
                     data-start="1500"
                     data-startslide="1"
                     data-easing="Power4.easeOut"
                     data-endspeed="2000"
                     data-endeasing="Power4.easeIn">
                    <div class="panel-backing ">
                        <div class="panel-backingText">
                            ESHAS 
                        </div>
                    </div>

                </div>


                <div class="caption customin customout tp-resizeme"
                     data-x="center"
                     data-hoffset="0"
                     data-y="center"
                     data-voffset="120"
                     data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="1000"
                     data-start="1500"
                     data-startslide="1"
                     data-easing="Power4.easeOut"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn">
                    <div class="rev-buttons scroll-to">

                        <a href="#services" class="btn btn-theme-bg btn-lg">
                            See More
                        </a>
                        <a href="#contact" class="btn btn-lg border-white">get in touch</a>

                    </div>

                </div>
            </li>
            <!-- SLIDE  -->
            <li data-transition="slideup" data-slotamount="1" data-masterspeed="1500" data-thumb="img/1385382.jpg" data-delay="10000" data-saveperformance="off" data-title="slider 2">
                <!-- MAIN IMAGE -->
                <img src="img/1385382.jpg" alt="kenburns6" data-bgposition="center bottom" data-kenburns="on" data-duration="10000" data-ease="Linear.easeNone" data-bgfit="100" data-bgfitend="120" data-bgpositionend="center top">
                <!-- LAYERS -->


                <div class="caption customin customout tp-resizeme ken-burns-cap  font-alt"
                     data-x="center"
                     data-hoffset="0"
                     data-y="center"
                     data-voffset="-100"
                     data-customin="x:-50;y:-300;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="1500"
                     data-start="1500"
                     data-startslide="1"
                     data-easing="Power4.easeOut"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn">

                    IT Support, Services & Consulting | Systems Solution Management

                </div>

                <div class="caption customin customout tp-resizeme Ken-burns-heading font-alt"
                     data-x="center"
                     data-hoffset="0"
                     data-y="center"
                     data-voffset="-14"
                     data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="1500"
                     data-start="1200"
                     data-startslide="1"
                     data-easing="Power4.easeOut"
                     data-endspeed="1500"
                     data-endeasing="Power4.easeIn">

                    

                </div>


                <div class="caption customin customout tp-resizeme"
                     data-x="center"
                     data-hoffset="0"
                     data-y="center"
                     data-voffset="83"
                     data-customin="x:50;y:150;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.5;scaleY:0.5;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="1500"
                     data-start="1500"
                     data-startslide="1"
                     data-easing="Power4.easeOut"
                     data-endspeed="1000"
                     data-endeasing="Power4.easeIn">

                    <div class="rev-buttons scroll-to">

                        <a href="#services" class="btn btn-theme-bg btn-lg">
                            See More
                        </a>
                        <a href="#work" class="btn btn-lg border-white">Our portfolio</a>

                    </div>

                </div>
            </li>
        </ul>
    </div>
</div><!--full width banner-->






