<section class="fun-fact-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-3 margin20 facts-in">
                <h3><i class="fa fa-image"></i><span class="counter">6858</span></h3>
                <h4>Projects Complete</h4>
            </div><!--facts in-->
            <div class="col-md-3 margin20 facts-in">
                <h3><i class="fa fa-users"></i><span class="counter">685</span></h3>
                <h4>Happy Customers</h4>
            </div><!--facts in-->
            <div class="col-md-3 margin20 facts-in">
                <h3><i class="fa fa-clock-o"></i><span class="counter">6000</span></h3>
                <h4>Hours Work </h4>
            </div><!--facts in-->
            <div class="col-md-3 margin20 facts-in">
                <h3><i class="fa fa-coffee"></i><span class="counter">2500</span></h3>
                <h4>Cups of tea</h4>
            </div><!--facts in-->
        </div>
    </div>
</section><!--fun facts-->