<!--navigation -->
<!-- Static navbar -->
<div class="navbar navbar-inverse navbar-static-top sticky" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="" alt=""></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right scroll-to">
                <li class="dropdown active"> <a href="#home">Home</a></li>
                <li class="dropdown"> <a href="#services">Services</a></li>
                <li class="dropdown"> <a href="#work">Portfolio</a></li>
                <li class="dropdown"> <a href="#price">Pricing</a></li>
                <li class="dropdown"> <a href="#contact">Contact</a></li>
                <li class="cbp-caption-overlayRightAlong"><a asp-area="" asp-controller="Home" asp-action="Login">Login-Register</a></li>
           
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div><!--.navbar-default-->