<section class="our-team padded-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="center-heading">
                    <h2>meet our team</h2>
                    <span class="center-line"></span>
                </div>
            </div>
        </div><!--center heading row-->
        <div class="row">
            <div class="col-sm-3">
                <div class="person">
                    <img src="img/team-1.jpg" class="img-responsive" alt="">
                    <div class="person-desc">
                        <h4>Adam Milne</h4>
                        <em>Creative director</em>
                    </div>
                </div>
            </div><!--team-col-->
            <div class="col-sm-3">
                <div class="person">
                    <img src="img/team-2.jpg" class="img-responsive" alt="">
                    <div class="person-desc">
                        <h4>Adam Milne</h4>
                        <em>Creative director</em>
                    </div>
                </div>
            </div><!--team-col-->
            <div class="col-sm-3">
                <div class="person">
                    <img src="img/team-3.jpg" class="img-responsive" alt="">
                    <div class="person-desc">
                        <h4>Adam Milne</h4>
                        <em>Creative director</em>
                    </div>
                </div>
            </div><!--team-col-->
            <div class="col-sm-3">
                <div class="person">
                    <img src="img/team-4.jpg" class="img-responsive" alt="">
                    <div class="person-desc">
                        <h4>Adam Milne</h4>
                        <em>Creative director</em>
                    </div>
                </div>
            </div><!--team-col-->
        </div>
    </div>
</section><!--our team-->