<section id="price" class="padded-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="center-heading">
                    <h2>Our Pricing</h2>
                    <span class="center-line"></span>
                </div>
            </div>
        </div><!--center heading row-->
        <div class="row">
            <div class="col-md-3 margin20 wow animated fadeInRight animated">
                <div class="price-wrap">
                    <div class="price-title">
                        <h4>Basic</h4>
                    </div><!--price title-->
                    <div class="price-price">
                        $9.99
                        <span>Per Month</span>
                    </div><!--price price-->
                    <div class="price-features">
                        <ul class="list-unstyled">
                            <li>Full Support</li>
                            <li>5 Email account</li>
                            <li>50 GB disk space</li>
                            <li>1 year validity</li>
                            <li>Phone / email support</li>
                        </ul>
                    </div><!--price features-->
                    <div class="price-action">
                        <a href="#" class="btn btn-theme-dark">Choose plan</a>
                    </div><!--price action-->
                </div><!--price-wrap-->
            </div><!--price col-->
            <div class="col-md-3 margin20 wow animated fadeInRight animated">
                <div class="price-wrap">
                    <div class="price-title">
                        <h4>Business</h4>
                    </div><!--price title-->
                    <div class="price-price popular">
                        $29.99
                        <span>Per Month</span>
                    </div><!--price price-->
                    <div class="price-features">
                        <ul class="list-unstyled">
                            <li>Full Support</li>
                            <li>5 Email account</li>
                            <li>50 GB disk space</li>
                            <li>1 year validity</li>
                            <li>Phone / email support</li>
                        </ul>
                    </div><!--price features-->
                    <div class="price-action">
                        <a href="#" class="btn btn-theme-bg">Choose plan</a>
                    </div><!--price action-->
                </div><!--price-wrap-->
            </div><!--price col-->
            <div class="col-md-3 margin20 wow animated fadeInRight animated">
                <div class="price-wrap">
                    <div class="price-title">
                        <h4>Professional</h4>
                    </div><!--price title-->
                    <div class="price-price">
                        $49.99
                        <span>Per Month</span>
                    </div><!--price price-->
                    <div class="price-features">
                        <ul class="list-unstyled">
                            <li>Full Support</li>
                            <li>5 Email account</li>
                            <li>50 GB disk space</li>
                            <li>1 year validity</li>
                            <li>Phone / email support</li>
                        </ul>
                    </div><!--price features-->
                    <div class="price-action">
                        <a href="#" class="btn btn-theme-dark">Choose plan</a>
                    </div><!--price action-->
                </div><!--price-wrap-->
            </div><!--price col-->
            <div class="col-md-3 margin20 wow animated fadeInRight animated">
                <div class="price-wrap">
                    <div class="price-title">
                        <h4>High</h4>
                    </div><!--price title-->
                    <div class="price-price">
                        $99.99
                        <span>Per Month</span>
                    </div><!--price price-->
                    <div class="price-features">
                        <ul class="list-unstyled">
                            <li>Full Support</li>
                            <li>5 Email account</li>
                            <li>50 GB disk space</li>
                            <li>1 year validity</li>
                            <li>Phone / email support</li>
                        </ul>
                    </div><!--price features-->
                    <div class="price-action">
                        <a href="#" class="btn btn-theme-dark">Choose plan</a>
                    </div><!--price action-->
                </div><!--price-wrap-->
            </div><!--price col-->
        </div>
    </div>
</section><!--pricing-->