
@{ Layout = "~/Views/Shared/_LayoutError.cshtml"; }
<div id="header-top" class="hidden-xs">
    <div class="container">
        <div class="top-bar">
            <div class="pull-left sample-1right">
                <a><i class="fa fa-phone"></i> Any questions? Call us: <span class="colored-text">+90 5537872708</span> </a>
                <a><i class="fa fa-envelope"></i> Mail us: <span class="colored-text">hasan.mumcu@ceng.deu.edu.tr</span> </a>
            </div>
            <div class="pull-right">
                
            </div>
        </div>
    </div>
</div><!--top bar end hidden in small devices-->
<!--navigation -->
<!-- Static navbar -->
<div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                
                <!--menu home li end here-->
                
                <!--menu Portfolio li end here-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="blog-full.html">Blog - full width</a></li>
                        <li><a href="blog-leftimg.html">Blog - left image</a></li>
                        <li><a href="blog-sidebar.html">Blog - sidebar</a></li>
                        <li><a href="blog-2col.html">Blog - 2 column</a></li>
                        <li><a href="blog-timeline.html">Blog - Timeline</a></li>
                        <li><a href="blog-masonary.html">Blog - Masonry</a></li>
                        <li><a href="blog-single.html">Blog - Single</a></li>
                    </ul>
                </li>
                <!--menu blog li end here-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="about.html">About</a></li>
                        <li><a href="me.html">About - Me</a></li>

                        <li><a href="services.html">Services</a></li>
                        <li><a href="team.html">Our Team</a></li>
                        <li><a href="pricing.html">Our Pricing</a></li>
                        <li><a href="faq.html">FAQS</a></li>
                        <li><a href="email-template.html">Email Template</a></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" href="#">Contact </a>
                            <ul class="dropdown-menu">
                                <li><a href="contact.html"> Contact default</a></li>
                                <li><a href="contact-advanced.php">Contact advanced</a></li>
                                <li><a href="contact-option.php">Contact option</a></li>
                                <li><a href="contact-flat.php">Contact Flat</a></li>
                            </ul>
                        </li>
                        <li><a href="search-results.html">Search Results</a></li>
                        <li><a href="career.html">Career</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="invoice.html">Invoice</a></li>
                        <li><a href="process.html">Our Process</a></li>
                        <li><a href="site-map.html">Site Map</a></li>
                    </ul>
                </li>
                <!--menu pages li end here-->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="shop-2col.html">2 columns sidebar</a></li>
                        <li><a href="shop-3col.html">3 columns sidebar</a></li>
                        <li><a href="shop-4col.html">4 columns full width</a></li>
                        <li><a href="product-list.html">Product list</a></li>
                        <li><a href="product-detail.html">Single product</a></li>
                        <li><a href="cart.html">Shopping cart</a></li>
                        <li><a href="checkout.html">Checkout</a></li>
                        <li><a href="shop-login.html">Login</a></li>
                        <li><a href="shop-register.html">Register</a></li>

                    </ul>
                </li> <!--menu Shop li end here-->
                <!--mega menu-->
                <li class="dropdown yamm-fw active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Features  <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="yamm-content">
                                <div class="row">

                                    <div class="col-sm-3">
                                        <h3 class="heading">headers & Footers</h3>
                                        <ul class="nav mega-vertical-nav">
                                            <li><a href="index.html">Header 1 - Default</a></li>
                                            <li><a href="header-dark.html">Header 2 - dark </a></li>
                                            <li><a href="header-transparent.html">header 3 - transparent </a></li>
                                            <li><a href="header-center-logo.html">header 4 - Logo center </a></li>

                                            <li><a href="index.html">Footer - 1</a></li>
                                            <li><a href="footer-2.html">Footer - 2</a></li>
                                            <li><a href="footer-3.html">Footer - 3 </a></li>
                                        </ul>

                                    </div>
                                    <div class="col-sm-3">
                                        <h3 class="heading">Layout grids </h3>
                                        <ul class="nav mega-vertical-nav">
                                            <li><a href="full-width.html">Full Width</a></li>

                                            <li><a href="left-sidebar.html">Left Sidebar</a></li>
                                            <li><a href="right-sidebar.html">Right sidebar</a></li>
                                            <li><a href="both-sidebar.html">Both Sidebar</a></li>
                                            <li><a href="both-right-sidebar.html">Both Right sidebar</a></li>
                                            <li><a href="both-left-sidebar.html">Both Left Sidebar</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <h3 class="heading">Features</h3>
                                        <ul class="nav mega-vertical-nav">
                                            <li><a href="typography.html">Typography</a></li>
                                            <li><a href="element.html">Elements</a></li>
                                            <li><a href="home-soon.html">Coming Soon</a></li>
                                            <li><a href="side-nav.html">side navigation </a></li>
                                            <li><a href="testimonials.html">testimonials </a></li>
                                        </ul>
                                    </div>
                                    <div class="col-sm-3">
                                        <h3 class="heading">MISCELLANEOUS</h3>
                                        <ul class="nav mega-vertical-nav">
                                            <li><a href="maintenance-page.html">Maintenance page </a></li>
                                            <li><a href="blank.html">Blank Page</a></li>
                                            <li><a href="login-ragister.html">Login / Register</a></li>
                                            <li><a href="login-ragister-classic.html">Login / Register - Classic </a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li> <!--menu Features li end here-->
                <!--mega menu end-->

                <li class="dropdown " data-animate="animated fadeInUp" style="z-index:500;">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown"><i class="fa fa-search"></i></a>
                    <ul class="dropdown-menu search-dropdown animated fadeInUp">
                        <li id="dropdownForm">
                            <div class="dropdown-form">
                                <form class=" form-inline">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="search...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-theme-bg" type="button">Go!</button>
                                        </span>
                                    </div><!--input group-->
                                </form><!--form-->
                            </div><!--.dropdown form-->
                        </li><!--.drop form search-->
                    </ul><!--.drop menu-->
                </li> <!--menu search li end here-->
                <li class="dropdown">
                    <a href="#" class=" dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lock"></i></a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-login-box animated fadeInUp">
                        <form role="form">
                            <h4>Signin</h4>

                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" class="form-control" placeholder="Username">
                                </div>
                                <br>
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" class="form-control" placeholder="Password">
                                </div>
                                <div class="checkbox pull-left">
                                    <label>
                                        <input type="checkbox"> Remember me
                                    </label>
                                </div>
                                <a class="btn btn-theme-bg pull-right">Login</a>
                                <!--                                        <button type="submit" class="btn btn-theme pull-right">Login</button>                 -->
                                <div class="clearfix"></div>
                                <hr>
                                <p>Don't have an account! <a href="#">Register Now</a></p>
                            </div>
                        </form>
                    </div>
                </li> <!--menu login li end here-->
            </ul>
        </div><!--/.nav-collapse -->
    </div><!--container-->
</div><!--navbar-default-->
<div class="breadcrumb-wrap">
    <div class="container">

    </div>
</div><!--breadcrumbs-->
<div class="divide80"></div>
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center error-text">
            <div class="divide30"></div>
            <h1 class="error-digit wow animated fadeInUp margin20"><i class="fa fa-thumbs-down"></i></h1>
            <h2>Opps, your mailbox empty!</h2>
            <p><a href="#" class="btn border-black btn-lg"></a></p>
        </div>
    </div>
</div>
<div class="divide60"></div>
