@model SH.Website.Models.ViewModels.AdminContactViewModel
@using SH.Website.Models

@*@{ ViewBag.Title = "MailBox"; }
    @{ var data = (AdminContactModel)ViewData["Message"]; }*@
@{ ViewBag.Title = "MailBox"; }
@{
    var messageList = ViewBag.Message;
}
@{ Layout = "~/Views/Shared/_LayoutMailBox.cshtml"; }


<div class="wrapper">
    <!-- Navbar -->
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <!-- Navbar Search -->
            <!-- Navbar Search -->
            <li class="nav-item">

                <a asp-area="" asp-controller="MailBox" asp-action="Logoff" class="nav-link">
                    <input type="submit" value="Logout" class="btn btn-primary" />
                </a>

        </ul>
    </nav>
    <!-- /.navbar -->
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="~/dashboard-template/dist/img/WhatsApp Image 2021-01-15 at 03.34.43.jpeg" class="img-circle elevation-2"alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">Hasan Mumcu</a>
                </div>
            </div>



            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->

                    <li class="nav-item menu-open">
                        <a href="#" class="nav-link active">
                            <i class="nav-icon far fa-envelope"></i>
                            <p>
                                Mailbox
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Home" asp-action="MailBox" class="nav-link active">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Inbox</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Home" asp-action="Compose" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Compose</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Home" asp-action="ReadMail" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Read</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-book"></i>
                            <p>
                                Pages
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">

                            <li class="nav-item">
                                <a asp-area="" asp-controller="Home" asp-action="ProjectAdd" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Project Add</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Home" asp-action="Edit_project" class="nav-link">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Project Edit</p>
                                </a>
                            </li>

                        </ul>
                    </li>

                </ul>
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Inbox</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Inbox</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-3">
                    <a asp-area="" asp-controller="Home" asp-action="Compose" class="btn btn-primary btn-block mb-3">Compose</a>

                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Folders</h3>

                            <div class="card-tools">

                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <ul class="nav nav-pills flex-column">
                                <li class="nav-item active">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-inbox"></i> Inbox
                                        <span class="badge bg-primary float-right">12</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-envelope"></i> Sent
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-file-alt"></i> Drafts
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-filter"></i> Junk
                                        <span class="badge bg-warning float-right">65</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-trash-alt"></i> Trash
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Labels</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <ul class="nav nav-pills flex-column">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle text-danger"></i>
                                        Important
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle text-warning"></i> Promotions
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle text-primary"></i>
                                        Social
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h3 class="card-title">Inbox</h3>

                            <div class="card-tools">
                                <div class="input-group input-group-sm">
                                    <input type="text" class="form-control" placeholder="Search Mail">
                                    <div class="input-group-append">
                                        <div class="btn btn-primary">
                                            <i class="fas fa-search"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body p-0">
                            <div class="mailbox-controls">
                                <!-- Check all button -->
                                <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                                    <i class="far fa-square"></i>
                                </button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm">
                                        <i class="fas fa-reply"></i>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm">
                                        <i class="fas fa-share"></i>
                                    </button>
                                </div>
                                <!-- /.btn-group -->
                                <button type="button" class="btn btn-default btn-sm">
                                    <i class="fas fa-sync-alt"></i>
                                </button>
                                <div class="float-right">
                                    1-50/200
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-sm">
                                            <i class="fas fa-chevron-left"></i>
                                        </button>
                                        <button type="button" class="btn btn-default btn-sm">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                    <!-- /.btn-group -->
                                </div>
                                <!-- /.float-right -->
                            </div>
                            <div class="table-responsive mailbox-messages">
                                <table class="table table-hover table-striped">
                                    <tbody>

                                        @if (messageList == null)
                                        {



                                            Html.RenderPartial("Error");



                                        }
                                        else
                                        {

                                    @foreach (var p in messageList)
                                    {
                                    <tr>
                                        <td>
                                            <div class="icheck-primary">
                                                <input type="checkbox" value="" id="check@p">
                                                <label for="check@p"></label>
                                            </div>
                                        </td>
                                        <td class="mailbox-star"><a href="#"><i class="fas fa-star text-warning"></i></a></td>
                                        <td class="mailbox-name"><a asp-area="" asp-controller="Home" asp-action="ReadMail">@p.to</a></td>
                                        <td class="mailbox-subject">
                                            <b>@p.Subject</b> - @p.Message
                                        </td>
                                        <td class="mailbox-attachment"></td>
                                        <td class="mailbox-date">@p.Timestamp</td>
                                    </tr>
}}


                                        @*<tr>
            <td>
                <div class="icheck-primary">
                    <input type="checkbox" value="" id="check2">
                    <label for="check2"></label>
                </div>
            </td>
            <td class="mailbox-star"><a href="#"><i class="fas fa-star-o text-warning"></i></a></td>
            <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
            <td class="mailbox-subject">
                <b>AdminLTE 3.0 Issue</b> - Trying to find a solution to this problem...
            </td>
            <td class="mailbox-attachment"><i class="fas fa-paperclip"></i></td>
            <td class="mailbox-date">28 mins ago</td>
        </tr>
        <tr>
            <td>
                <div class="icheck-primary">
                    <input type="checkbox" value="" id="check3">
                    <label for="check3"></label>
                </div>
            </td>
            <td class="mailbox-star"><a href="#"><i class="fas fa-star-o text-warning"></i></a></td>
            <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
            <td class="mailbox-subject">
                <b>AdminLTE 3.0 Issue</b> - Trying to find a solution to this problem...
            </td>
            <td class="mailbox-attachment"><i class="fas fa-paperclip"></i></td>
            <td class="mailbox-date">11 hours ago</td>
        </tr>
        <tr>
            <td>
                <div class="icheck-primary">
                    <input type="checkbox" value="" id="check4">
                    <label for="check4"></label>
                </div>
            </td>
            <td class="mailbox-star"><a href="#"><i class="fas fa-star text-warning"></i></a></td>
            <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
            <td class="mailbox-subject">
                <b>AdminLTE 3.0 Issue</b> - Trying to find a solution to this problem...
            </td>
            <td class="mailbox-attachment"></td>
            <td class="mailbox-date">15 hours ago</td>
        </tr>
        <tr>
            <td>
                <div class="icheck-primary">
                    <input type="checkbox" value="" id="check5">
                    <label for="check5"></label>
                </div>
            </td>
            <td class="mailbox-star"><a href="#"><i class="fas fa-star text-warning"></i></a></td>
            <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
            <td class="mailbox-subject">
                <b>AdminLTE 3.0 Issue</b> - Trying to find a solution to this problem...
            </td>
            <td class="mailbox-attachment"><i class="fas fa-paperclip"></i></td>
            <td class="mailbox-date">Yesterday</td>
        </tr>
        <tr>
            <td>
                <div class="icheck-primary">
                    <input type="checkbox" value="" id="check6">
                    <label for="check6"></label>
                </div>
            </td>
            <td class="mailbox-star"><a href="#"><i class="fas fa-star-o text-warning"></i></a></td>
            <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
            <td class="mailbox-subject">
                <b>AdminLTE 3.0 Issue</b> - Trying to find a solution to this problem...
            </td>
            <td class="mailbox-attachment"><i class="fas fa-paperclip"></i></td>
            <td class="mailbox-date">2 days ago</td>
        </tr>
        <tr>
            <td>
                <div class="icheck-primary">
                    <input type="checkbox" value="" id="check7">
                    <label for="check7"></label>
                </div>
            </td>
            <td class="mailbox-star"><a href="#"><i class="fas fa-star-o text-warning"></i></a></td>
            <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
            <td class="mailbox-subject">
                <b>AdminLTE 3.0 Issue</b> - Trying to find a solution to this problem...
            </td>
            <td class="mailbox-attachment"><i class="fas fa-paperclip"></i></td>
            <td class="mailbox-date">2 days ago</td>
        </tr>
        <tr>
            <td>
                <div class="icheck-primary">
                    <input type="checkbox" value="" id="check8">
                    <label for="check8"></label>
                </div>
            </td>
            <td class="mailbox-star"><a href="#"><i class="fas fa-star text-warning"></i></a></td>
            <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
            <td class="mailbox-subject">
                <b>AdminLTE 3.0 Issue</b> - Trying to find a solution to this problem...
            </td>
            <td class="mailbox-attachment"></td>
            <td class="mailbox-date">2 days ago</td>
        </tr>
        <tr>
            <td>
                <div class="icheck-primary">
                    <input type="checkbox" value="" id="check9">
                    <label for="check9"></label>
                </div>
            </td>
            <td class="mailbox-star"><a href="#"><i class="fas fa-star text-warning"></i></a></td>
            <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
            <td class="mailbox-subject">
                <b>AdminLTE 3.0 Issue</b> - Trying to find a solution to this problem...
            </td>
            <td class="mailbox-attachment"></td>
            <td class="mailbox-date">2 days ago</td>
        </tr>
        <tr>
            <td>
                <div class="icheck-primary">
                    <input type="checkbox" value="" id="check10">
                    <label for="check10"></label>
                </div>
            </td>
            <td class="mailbox-star"><a href="#"><i class="fas fa-star-o text-warning"></i></a></td>
            <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
            <td class="mailbox-subject">
                <b>AdminLTE 3.0 Issue</b> - Trying to find a solution to this problem...
            </td>
            <td class="mailbox-attachment"></td>
            <td class="mailbox-date">2 days ago</td>
        </tr>
        <tr>
            <td>
                <div class="icheck-primary">
                    <input type="checkbox" value="" id="check11">
                    <label for="check11"></label>
                </div>
            </td>
            <td class="mailbox-star"><a href="#"><i class="fas fa-star-o text-warning"></i></a></td>
            <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
            <td class="mailbox-subject">
                <b>AdminLTE 3.0 Issue</b> - Trying to find a solution to this problem...
            </td>
            <td class="mailbox-attachment"><i class="fas fa-paperclip"></i></td>
            <td class="mailbox-date">4 days ago</td>
        </tr>
        <tr>
            <td>
                <div class="icheck-primary">
                    <input type="checkbox" value="" id="check12">
                    <label for="check12"></label>
                </div>
            </td>
            <td class="mailbox-star"><a href="#"><i class="fas fa-star text-warning"></i></a></td>
            <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
            <td class="mailbox-subject">
                <b>AdminLTE 3.0 Issue</b> - Trying to find a solution to this problem...
            </td>
            <td class="mailbox-attachment"></td>
            <td class="mailbox-date">12 days ago</td>
        </tr>
        <tr>
            <td>
                <div class="icheck-primary">
                    <input type="checkbox" value="" id="check13">
                    <label for="check13"></label>
                </div>
            </td>
            <td class="mailbox-star"><a href="#"><i class="fas fa-star-o text-warning"></i></a></td>
            <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
            <td class="mailbox-subject">
                <b>AdminLTE 3.0 Issue</b> - Trying to find a solution to this problem...
            </td>
            <td class="mailbox-attachment"><i class="fas fa-paperclip"></i></td>
            <td class="mailbox-date">12 days ago</td>
        </tr>
        <tr>
            <td>
                <div class="icheck-primary">
                    <input type="checkbox" value="" id="check14">
                    <label for="check14"></label>
                </div>
            </td>
            <td class="mailbox-star"><a href="#"><i class="fas fa-star text-warning"></i></a></td>
            <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
            <td class="mailbox-subject">
                <b>AdminLTE 3.0 Issue</b> - Trying to find a solution to this problem...
            </td>
            <td class="mailbox-attachment"><i class="fas fa-paperclip"></i></td>
            <td class="mailbox-date">14 days ago</td>
        </tr>
        <tr>
            <td>
                <div class="icheck-primary">
                    <input type="checkbox" value="" id="check15">
                    <label for="check15"></label>
                </div>
            </td>
            <td class="mailbox-star"><a href="#"><i class="fas fa-star text-warning"></i></a></td>
            <td class="mailbox-name"><a href="read-mail.html">Alexander Pierce</a></td>
            <td class="mailbox-subject">
                <b>AdminLTE 3.0 Issue</b> - Trying to find a solution to this problem...
            </td>
            <td class="mailbox-attachment"><i class="fas fa-paperclip"></i></td>
            <td class="mailbox-date">15 days ago</td>
        </tr>*@
                                    </tbody>
                                </table>
                                <!-- /.table -->
                            </div>
                            <!-- /.mail-box-messages -->
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer p-0">
                            <div class="mailbox-controls">
                                <!-- Check all button -->
                                <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                                    <i class="far fa-square"></i>
                                </button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm">
                                        <i class="fas fa-reply"></i>
                                    </button>
                                    <button type="button" class="btn btn-default btn-sm">
                                        <i class="fas fa-share"></i>
                                    </button>
                                </div>
                                <!-- /.btn-group -->
                                <button type="button" class="btn btn-default btn-sm">
                                    <i class="fas fa-sync-alt"></i>
                                </button>
                                <div class="float-right">
                                    1-50/200
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default btn-sm">
                                            <i class="fas fa-chevron-left"></i>
                                        </button>
                                        <button type="button" class="btn btn-default btn-sm">
                                            <i class="fas fa-chevron-right"></i>
                                        </button>
                                    </div>
                                    <!-- /.btn-group -->
                                </div>
                                <!-- /.float-right -->
                            </div>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

</div>
