@model SH.Website.Models.ViewModels.RegisterViewModel
@{
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}
@{
    ViewBag.Title = "Register";
}
<div class="w-full flex flex-wrap">

    <!-- Register Section -->
    <div class="w-full md:w-1/2 flex flex-col">



        <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32">
            <p class="text-center text-3xl">Join Us.</p>
            @*<form class="flex flex-col pt-3 md:pt-8" onsubmit="event.preventDefault();">*@
            <form asp-controller="Registers" asp-action="Create" method="post">
                <div class="flex flex-col pt-4">
                    <label for="name" class="text-lg">Name</label>
                    <input asp-for="Name" class="form-control" placeholder="John Smith" />
                    @*<input type="text" id="name" placeholder="John Smith" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">*@
                </div>

                <div class="flex flex-col pt-4">
                    <label for="email" class="text-lg">Email</label>
                    <input asp-for="Email" class="form-control" placeholder="your@email.com" />
                    @*<input type="email" id="email" placeholder="your@email.com" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">*@
                </div>

                <div class="flex flex-col pt-4">
                    <label for="password" class="text-lg">Password</label>
                    <input asp-for="Password" class="form-control" placeholder="Password" />
                    @*<input type="password" id="password" placeholder="Password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">*@
                </div>

                <div class="flex flex-col pt-4">
                    <label for="confirm-password" class="text-lg">Confirm Password</label>
                    <input asp-for="ConfirmPassword" class="form-control" placeholder="Password" />
                    @*<input type="password" id="confirm-password" placeholder="Password" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline">*@
                </div>

                <input type="submit" value="Register" class="bg-black text-white font-bold text-lg hover:bg-gray-700 p-2 mt-8">
            </form>
            <div class="text-center pt-12 pb-12">
                <p>Already have an account? <a asp-area="" asp-controller="Home" asp-action="Login">Log in here.</a></p>
            </div>
        </div>

    </div>

    <!-- Image Section -->
    <div class="w-1/2 shadow-2xl">
        <img class="object-cover w-full h-screen hidden md:block" src="https://source.unsplash.com/IXUM4cJynP0">
    </div>
</div>

